<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
        [text]="'common.back' | translate"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "settings.title" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page settings-page">
    <ion-list inset="true">
      <ion-list-header>
        <ion-label>{{ "settings.title" | translate }}</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-select
          [label]="'settings.timeFormat.label' | translate"
          labelPlacement="start"
          interface="popover"
          [value]="prefs.timeFormat()"
          (ionChange)="onTimeFormatChange($any($event.detail.value))"
        >
          <ion-select-option value="12h">
            {{ "settings.timeFormat.h12" | translate }}
          </ion-select-option>
          <ion-select-option value="24h">
            {{ "settings.timeFormat.h24" | translate }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none">
        <ion-select
          [label]="'settings.language.label' | translate"
          labelPlacement="start"
          interface="popover"
          [value]="prefs.language()"
          (ionChange)="onLanguageChange($any($event.detail.value))"
        >
          <ion-select-option *ngFor="let lang of languages" [value]="lang">
            {{ "settings.language." + lang | translate }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
